</main>

  <footer class="app-footer">
    <p>&copy; <%= new Date().getFullYear() %>. Code Journal by : Adodo Daniel Imewore. TechCrush Cohort 3.</p>
    <div class="social-links">
      <a href="https://github.com/Adodo-Safe" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/daniel-adodo001?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a>
      <a href="https://x.com/Safe0111?t=sarGeg5DLCpNThkJvKT1LQ&s=09" target="_blank">Twitter</a>
    </div>
  </footer>
</body>
</html>